.container {
  width: 100%;
  background: #202020;
  color: white;
  border-radius: 1rem;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 300ms;
}

.img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 19rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.textContainer {
  padding: 1rem 2rem;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

.genres {
  text-align: center;
  font-size: 1.3rem;
}
