.container {
  width: 120rem;
  margin: auto;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4rem;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30rem;
}

.notFound {
  color: white;
  display: flex;
  font-size: 2rem;
  height: 50rem;
  justify-content: center;
  align-items: center;
}
