.searchContainer {
  display: flex;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.searchBar {
  font-size: 1.5rem;
  width: 30rem;
  color: #151515;
  border: none;
}

.searchBar:focus {
  outline: none;
}

svg:hover {
  cursor: pointer;
}
