.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.background {
  background: #151515;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleLink {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 3rem;
  margin-left: 2rem;
}

.newBtn {
  text-decoration: none;
  background-color: white;
  color: #151515;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.newBtn:hover {
  cursor: pointer;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  width: 80rem;
  margin: auto;
}

.select {
  width: 15rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  color: #151515;
}
