.background {
  background: #151515;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleLink {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 3rem;
  margin-left: 2rem;
}

.newBtn {
  text-decoration: none;
  background-color: white;
  color: #151515;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
}
